.page-content h1{
  text-align: center;
  margin-bottom: 50px;
}

.blog-sidemenu .sidemenu-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.tree-cat{
  --bs-nav-link-padding-x: 0;
}

.blog-sidemenu .nav-item{
  border-top: 1px solid #BABAB9;
  --bs-nav-link-padding-y: 1rem; 
}

.blog-card .card-title{
  font-size: 1rem;
  font-weight: bold;
}

.blog-card .card-text{
  font-size: .875rem;
}




/* Article */
.page-blog-article .article-main img{
  width: 100%;
}

.block-bottom{
  padding: 0 75px;
}

.block-bottom section{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #BABAB9;
}