/* *{
  outline: 1px solid red;
} */
html, body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 'Battambang', 'Times New Roman', Times, serif;
}

.logo {
  width: 144px;
}

@media screen and (min-width: 900px) {
  .logo{
    width: 284px;

  }
}



.header-wrap{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px 75px 11px;
}

@media screen and (min-width: 900px) {
  .header-wrap{
    padding: 38px 75px 17px;

  }
}

.header-wrap::after{
  position: absolute;
  content: '';
  width: calc(100%-150px);
  left: 75px;
  right: 75px;
  height: 1px;
  bottom: 0;
  background-color: #777;
}

.header-search{
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-search-wrap{
  display: flex;
  align-items: center;
}

.header-search-container{
  height: 35px;
  width: calc(100% - 42px);
  border: transparent;
  background-color: #F6F6F6;
  padding-left: 19px;
}

@media screen and (min-width: 900px) {
  .header-search-container{
    height: 50px;
    width: 242px;
  }
}

.header-search-handler{
  height: 35px;
  background-color: #E4E4E4;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.header-search-handler img{
  height: 26px;
}

@media screen and (min-width: 900px) {
  .header-search-handler{
    height: 50px;
    padding: 5px 8px 5px 12px;
  }
}



.nav-wrap{
  margin: auto;
  overflow-x: auto;
}

.nav-wrap ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: fit-content;
  padding: 0;
  white-space: nowrap;
}


.nav-wrap ul a{
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 17px;
  border-bottom: 1px solid transparent;
  transition-duration: 0.1s;
}

.nav-wrap ul a:hover{
  border-bottom: 1px solid rgba(0,0,0,0.5);

}

.nav-wrap ul a.nav-active{
  border-bottom: 1px solid rgba(0,0,0,1);

}
.manage-container{
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: #fff;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  padding: 0;
  margin: 0;
  height: 50px;
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .manage-container{
    width: initial;
    position: initial;
    height: initial;
  }
  
}

.manage-container li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.manage-container li p {
  margin: 0;
}

.manage-container .qa img{
  padding: 6px;
  height: 38px;
}


.manage-container .vector img{
  padding: 6px;
  height: 38px;
}
.manage-container .shopping img{
  padding: 6px;
  height: 38px;
}

.primary-gray{
  color: #777;
}
.primary-red{
  color: #E83129;
}

footer{
  width: 100%;
  height: 80px;
  background-color: #2B2722;
  margin-bottom: 55px;
}

footer p{
  text-align: center;
  color: #82807E;
  font-size: 13px;
  letter-spacing: 2.6px;
  line-height: 23px;
  padding-top: 20px;
}

@media screen and (min-width: 900px) {
  footer{
    width: 100%;
    height: 55px;
    background-color: #2B2722;
    margin-bottom: 0px;
  }
  
}

.notice{
  text-align: center;
  height: 87px;
  margin-bottom: 47px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.notice span{
  color: #2B2722;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}
.notice img{
  width: 44px;
}

@media screen and (min-width: 900px) {
  .notice span{
    font-size: 65px;
    line-height: 87px;
  }

  .notice img{
    width: 87px;
  }
}

.info-wrap{
  border: 1px solid #777;
  width: calc(100% - 20px);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (min-width:900px) {
  .info-wrap{
    margin: 0 75px;
    flex-wrap: nowrap;
    width: calc(100% - 150px);
  }
}


.info-about{
  display: flex;
  
}

.info-time img,.info-location img{
  height: 35px;
}

.info-time,.info-location{
  width: 50%;
  text-align: center;
  padding:10px;
  display: inline-block;
  box-sizing: border-box;
}


@media screen and (min-width: 900px) {
  .info-time{
    border-left: 1px solid #777;
    border-right: 1px solid #777;
  }
  .info-time,.info-location{
    width: 205px;
  }
}


.info-container{
  width: 100%;
  padding: 10px;
  border-top: 1px solid #777;
}

@media screen and (min-width: 900px) {
  .info-container{
    padding-left: 73px;
    padding-right: 67px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border:none
  }
}


.info-services-list{
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  margin-bottom: 10px;
}


.info-services-list a{
  text-decoration: none;
  color: #2B2722;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 11px;
  border-bottom: 2px solid #E4E4E4;
}

.info-external{
  display: flex;
  justify-content: center;
  gap: 26px;
}
.info-external a{
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
}
.info-external img{
  width: 30px;
}


.card-product{
  box-sizing: border-box;
  width: 100%;
  /* min-width: 273px; */
  padding: 19px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}

@media screen and (min-width: 900px) {
  .card-product{
    /* width: 250px; */
  }
}



.card-product img{
  width: 100%;
}

.card-product p{
  text-align: center;
}

.card-product p:nth-child(2){
 font-size: 16px;
 font-weight: 500;
 color: #1E1E1E;
}

.card-product p:nth-child(3){
  font-size: 12px;
  color: #2B2722;
  letter-spacing: 0.6px;
 }

 .card-product p:nth-child(4){
  margin-top: 29px;
  font-size: 15px;
 }

 .card-product-fav{
  position: absolute;
  top: 13px;
  right: 19px;
  width: 34px !important;
  z-index: 1;
  cursor: pointer;
 }
